trigger:
- main   # or your branch name


pool:  
  name: Local



variables:
  azureSubscription: 'KodiLimitedServiceConnection'   # replace with your Azure DevOps service connection name
  resourceGroupName: 'rg-maze-prod-$(customerName)'
  location: 'uksouth'
  customerName: 'Kodi'   # override at runtime if needed
  ## templateFile: 'template.yaml'          # path to your ARM YAML template

stages:
- stage: DeployInfrastructure
  displayName: "Deploy App Service + DB"
  jobs:
  - job: Deploy
    steps:
    - task: AzureCLI@2
      displayName: "Deploy ARM template"
      inputs:
        azureSubscription: $(azureSubscription)
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          echo "Creating resource group if not exists..."
          az group create --name $(resourceGroupName) --location $(location)

          echo "Deploying ARM template..."
          az deployment group create \
            --resource-group $(resourceGroupName) \
            --template-file $(templateFile) \
            --parameters customerName=$(customerName)
