trigger:
- main

variables:
  webAppName1: 'kodi-web'
  webAppName2: 'kodi-api'
  dbServerName: 'kodi-db1'
  dbAdminUsername: 'dbadminuser'
  dbAdminPassword: '$(dbAdminPassword)' # secret variable in DevOps
  resourceGroupName: 'rg-maze-prod-Kodi'
  location: 'eastus'

pool:
  vmImage: 'Local'

steps:
- checkout: self

- task: AzureCLI@2
  inputs:
    azureSubscription: 'KodiLimitedServiceConnection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az group create --name $(resourceGroupName) --location $(location)
      az deployment group create \
        --resource-group $(resourceGroupName) \
        --template-file azuredeploy.json \
        --parameters \
            webAppName1=$(webAppName1) \
            webAppName2=$(webAppName2) \
            dbServerName=$(dbServerName) \
            dbAdminUsername=$(dbAdminUsername) \
            dbAdminPassword=$(dbAdminPassword) \
            location=$(location)