trigger:
- main

variables:
  webAppName1: 'kodi-web'
  webAppName2: 'kodi-api'
  dbServerName: 'kodi-db1'
  dbAdminUsername: 'dbadminuser'
  dbAdminPassword: 'Wipro1234' # secret variable in DevOps
  resourceGroupName: 'rg-maze-prod-Kodi'
  location: 'uksouth'

pool: 'Local'


steps:
- checkout: self

- task: AzureCLI@2
  inputs:
    azureSubscription: 'KodiLimitedServiceConnection'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az group create --name $(resourceGroupName) --location $(location)
      az deployment group create \
        --resource-group $(resourceGroupName) \
        --template-file template.json \
        --parameters \
            webAppName1=$(webAppName1) \
            webAppName2=$(webAppName2) \
            dbServerName=$(dbServerName) \
            dbAdminUsername=$(dbAdminUsername) \
            dbAdminPassword=$(dbAdminPassword) \
            location=$(location)
