name: Azure Resource Deployment

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout Code'
        uses: actions/checkout@v3

      - name: 'Azure Login'
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: 'Deploy ARM Template'
        uses: azure/arm-deploy@v2
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          resourceGroupName: ${{ secrets.AZURE_RESOURCE_GROUP }}
          template: ./azuredeploy.json
          parameters: >
            webAppName1=mywebapp1
            webAppName2=mywebapp2
            dbServerName=myflexdb1
            dbAdminUsername=${{ secrets.DB_ADMIN_USERNAME }}
            dbAdminPassword=${{ secrets.DB_ADMIN_PASSWORD }}
